.parameter {
}
.row {
	display: flex;

}
.parameter__content {
}
.parameter__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.parameter__item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	row-gap: 5px;
}
.parameter__item-title {
	display: block;
	background-color: $color-black;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $color-white;
	margin-bottom: 13px;
	padding: 2px 0 3px 0;
}

.parameter__name {
}
.parameter__subname {
}
